.map-container {
   height: 600px; 
   margin: 0 auto;
   max-width: 800px; 
}

.leaflet-container {
   height: 80vh;
   width: 180vh;
   margin: auto;
   position: absolute;
   top: 0; bottom: 0; left: 0; right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.navbar {
   display: flex;
   justify-content: space-between;
   background-color: grey; /* Background color of the navbar */
   color: white; /* Text color for navbar items */
   list-style-type: none;
   padding: 10px;
   margin: 0%;
}

.navbar-item {
   margin: 0;
   padding: 0;
 }
 
.username {
   flex: 1; 
   text-align: center;
}
 
.logoutbutton {
   text-align: right;
}