.app-question{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: f0f0f0;
}

input[type="text"],
input[type="password"] {
  height: 20px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  border: 1px solid black;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: linear-gradient(to right, #553c9a 45%, #ee4b2b);
}

.signup-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.containerQuestion {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: antiquewhite;
  padding-bottom: 30px;
  width: 400px;
}

.inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
.login-form-Question {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;

  margin-top: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 45px;
  background: #eaeaee;
  border-radius: 6px;
}

.question-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  background-color: black;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 25px;
  margin-top: 10px;
}

.answer-button {
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: black;
  border-radius: 5px;
  background-color: whitesmoke;
}
.image-container-Panda-quiz {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 420px;
  height: 480px;
}

.image-container-Panda-quiz img {
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container, maintaining aspect ratio */
  display: block;
}

@media screen and (max-width: 1200px) {
  .image-container-Panda-quiz {
    display: none; /* Skriva elemente na mobilnim uređajima */
  }
}
